body {
    font-family: Arial, sans-serif;
background-position: center;
   background-image: url('https://images.unsplash.com/photo-1508700115892-45ecd05ae2ad?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
   background-repeat: no-repeat;
background-attachment: fixd;
  }

  
  #question-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #options {
    list-style-type: none;
    padding: 0;
  }
  
  #options li {
    margin-bottom: 10px;
  }
  
  #score-container {
    text-align: center;
  }
  
  #next-button {
    display: block;
    margin: 0 auto;
  }
  
  #qa-block{
margin-top: 80%;

background-color:blanchedalmond

  }
